.page-title{
	text-align: center;
	font-size: 45px;
  	font-weight: 500;
  	margin-bottom: 20px;
}

.odd, .even {
  padding: 20px 30px 20px 30px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.odd {background-color: #eee;}

.established {font-size: 12px; font-weight: 200;}

.agency-name {
  float: left;
  margin-right: 30px;
  border-right: 1px solid rgb(161, 161, 161);
  padding-right: 20px;
  height: 190px;
  width: 210px;
}
#sign-in-form     { float: left; margin: 7px 10px; }
#sign-up-btn, 
#logout-btn       {  margin-top: 7px; }
#logged-in-as     { float: left; margin: 15px 20px; color: #fff; }
.navbar-header    { color: #fff; font-size: 30px; }
#confirmed-body {
  background-color: rgb(186, 236, 186);
  padding: 30px;
  text-align: center;
  font-size: 15px;
  color: rgb(43, 155, 43);
  border: 1px solid rgb(115, 184, 115);
  border-radius: 4px;
  margin-top: 50px;
  margin-bottom: 30px;
}
.highlight {color: gray;}

#fos_user_registration_form label, .form-fields label {
	color: black;
	width: 150px;
}
.top-space-md {margin-top: 50px;}
.top-space-sm {margin-top: 20px;}

.chevron-left {float:left; margin-top: 2px;}
#form_established {display: inline;}
.flash-notice {text-align: center;}
