{# This file overrides the FOS template and uses our base styling.
   This appears when a user has successfully registered for new account. #}

{% extends 'BCGContactBundle::layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
	<div id="confirmed-body" class="col-md-6 col-md-offset-3"
		{% block fos_user_content %}
		    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
		    <br/>
		    <p>Login above to get started</p>
		{% endblock fos_user_content %}
	</div>
	
	<a class="btn btn-primary col-md-6 col-md-offset-3" href="/">Return Home</a>

{% endblock body %}